body{
    min-width: 100vh;
    margin: 0px;
  
  }

  .imagen1{
      
      line-height: 10px;
  }
.encabezado{
margin-right: 20px;
margin-left: 20px;
margin-bottom:300px;
float:right;
text-decoration: none;

}
.titulo1{

    font-size: 64px;
    color: #060A24;
    letter-spacing: 0;
    margin-bottom: auto;
    text-align:center;
font-family: "IBMPlexSans", sans-serif;
   }

   .texto1{
margin: 10px;
height: 15px;
color: black;
padding: 10px;
padding-right: 10px;
text-align:center;

   }
.episodios{
   color: white;
   position: absolute;
   top: 34.7rem;
   bottom: 0;
   right: 0;
   left: 0px;
   width: 100%;
   height: 50rem;
   transform: skewY(-7deg);
   transform-origin: top right;
   z-index: -1;
   background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
}

.conoce{
    margin: 100px;
    width: 170px;
    height: 40px;
    color:black;
    background:#00F3BB;


}
img {
    max-width: 100%;
    margin: 20px;
}

.imagecontainer{

    flex-direction: column ;
    display: flex;
}